body{
    font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Source Serif Pro', serif;
}
h1{
    font-size: 55px;
    margin: 0;
}
.upper{
    display: flex;
    align-items: center;
}
.upper-text{
    width: 50%;
    padding: 1% 0 0 10%;
}
.upper-text img{
    width: 60%;
}
.border{
    position: relative;
}
.border::before{
    content: "";
    background-color: red;
    position: absolute;
    height: 80%;
    width: 4px;
    left: -16px;
    top: 12px;
    bottom: 0;
    border-radius: 80px;
}
p{
    font-size: 30px;
    text-align: justify;
}
.color-text{
    color: orange;
}
.button{
    text-decoration: none;
    background-image: radial-gradient(purple, black);
    color: white;
    padding: 1% 5%;
    border-radius: 15px;
}